/node_modules
/public/hot
/public/storage
/public/static
/vendor
.env
.env.backup
.phpunit.result.cache
/.idea
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
composer.lock
.rnd
storage/oauth-private.key
storage/oauth-public.key
docs/favicon.ico
docs/static/docs/try.js
docs/static/docs/try.css
package.json
package-lock.json
